NODE_ENV=development
APP_PORT=3333
APP_NAME="Liquidity group | Technical test"

# Email 
MAIL_HOST=
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

#RabbitMQ
RABBIT_MQ_URI=amqp://rabbitmq:5672
RABBIT_MQ_MAILING_QUEUE=mailing